* {
    box-sizing: border-box;
}

.main-section header {
    font-size: 24px;
    font-weight: bold;
}

code {
    background: lightgray;
    display: block;
    margin-bottom: 20px;
    margin-left: 1.5%;
}

main {
    margin-right: 3%;
    margin-left: 210px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    margin-left: 1%;
}

#navbar {
    position: fixed;
    width: 200px;
    top:0;
    height: 100vh;
    z-index: 100;
    background-color: #202020;
    overflow:hidden;
    cursor:pointer;
}

a {
    display: block;
    margin: 40px 0;
    color: white;
}

aside header {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

@media (max-width: 600px) {
    #navbar {
        position: fixed;
        width: 200px;
        top:0;
        height: auto;
        z-index: 100;
        background-color: #202020;
        overflow:hidden;
        cursor:pointer;
    }
}